<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="styles/reset.css" rel='stylesheet'>
    <link href="styles/base.css" rel='stylesheet'>
    <link href="styles/layout.css" rel='stylesheet'>

    <title>Book Collection</title>
  </head>
  <body>
    <nav>
      <p>Best Books!</p>
      <p>Search Results</p>
    </nav>
    <main>
      <section>
        <ul>
          <%- include('../../layout/new.ejs') %>
        </ul>
      </section>
    </main>
  </body>
</html>