13 lines (12 sloc)  175 Bytes
  
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
        <ul>
          <% bananas.forEach(book=>{ %>
            <li><%= book.volumeInfo.title %></li>
          <% }); %>
        </ul>
    </main>
  </body>
</html>