<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="styles/reset.css" rel='stylesheet'>
    <link href="styles/base.css" rel='stylesheet'>
    <link href="styles/layout.css" rel='stylesheet'>

    <title>Book Collection</title>
  </head>
  <body>
    <nav>
      <p>Best Books!</p>
      <p>Search Results</p>
    </nav>
    <main>
        <ul>
          <% bananas.forEach(book => { %>
            <li><h1><%= book.title %></h1>
            <p>Author: <%= book.author %></p>
            <img src="<%= book.image %>" />
            <p>Description: <%= book.description %></p>
            <% }); %>
          </li>
        </ul>
    </main>
  </body>
</html>