
body{
    background-color: rgb(228, 228, 228);
    background-image: url(../img/Paper-4.jpg); 
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
    
}

nav{
    padding-top: 30px;
    text-align: center;
    color: #C85222;
    font-size: 30px;
    font-family: cursive;
}

form{
    text-align: center;
}
input{
    margin-top: 20px;
    width: 200px;
    height: 30px;
}

ul li{
    text-align: center;
    margin: 30px;
}
section > :first-child{
    text-align: center;
}

#dbBooks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
li h1{
    font-size: 20px;
}

* {
    margin:auto;
}
