body{
    background-color: rgb(228, 228, 228);
}
nav{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

nav:first-child{
    background-color: black;
    color: white;
    font-size: 30px;
}

nav > :nth-child(2){
    text-align: center;
    background-color: rgb(61, 61, 61);
}
form{
    text-align: center;
}
input{
    width: 200px;
    height: 40px;
}

ul li{
    text-align: center;
    margin: 30px;
}
section > :first-child{
    text-align: center;
}
#dbBooks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
li h1{
    font-size: 20px;
}

* {
    margin:auto;
}

/* input, label {
    display:none;
} */