form {
  display:contents;
  display:grid;
  grid-template-columns: 100px 1fr;
}
fieldset{
  display:contents;
}

label {
  grid-column-start: 1;
  grid-column-end: 2;
}

input, textarea {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left:0;
}

textarea{

}

.title {
 width:50%; 
}
